<!--
  - testimonials modal
-->

<div class="modal-container" [ngClass]="{'active': isProjectActive()}">

  <div class="overlay" [ngClass]="{'active': isProjectActive()}"></div>

  <section class="testimonials-modal">

    <button class="modal-close-btn" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </button>


    <div class="modal-content">

      <div class="row">
        <div class="col-8">
          <a [href]="project?.readme" *ngIf="project?.readme.length > 0" target="_blank">
            <h4 class="h4">{{ project?.title }}</h4>
          </a>
        </div>
        <div class="col ">14 June, 2021</div>
      </div>

      <div>
        <br />
        <p>
          {{project?.description}}
        </p>
        <br/>
        <ul>
          <li *ngFor="let item of project?.items">
            {{item}}
          </li>
        </ul>
        <br />
        <strong>
          <h5 >Technologies Used</h5>
        </strong>
        <a class="mr-1 rh-skill" *ngFor="let tag of project?.tags">{{tag}}</a>
      </div>

    </div>

  </section>

</div>