<br />
<div class="container">
  <div class="row pt-1">
    <div class="col-4">
      <app-about></app-about>
    </div>
    <div class="col-8">
      <div class="row mt-3">
        <div class="col-11 offset-1">
          <app-top-skills></app-top-skills>
        </div>
      </div>
      <br />
      <div class="row mt-2">
        <div class="col-11 offset-1">
          <h3>Certifications</h3>
          <ul>
            <li *ngFor="let certification of certifications?.certifications">
              <a href="{{certification?.link}}" target="_blank">{{certification?.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>