

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/



  .avatar-box {
    background: var(--bg-gradient-onyx);
    border-radius: 20px;
    width: auto;
    height: auto;
  }
  
  
  
  .contacts-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

/* 
  .social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
  }
   */

   .noHref{
    text-decoration: none!important;
    color: var(--orange-yellow-crayola);
  }
  
  .separator { margin: 32px 0; }

  ion-icon {
    pointer-events: none;
   }

  
  .icon-box {
    width: 38px;
    height: 38px;
    border-radius: 12px;
    font-size: 18px;
  }
  