<br />
<ion-card style="height: 90%;">
    <ion-card-content>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3">

                    <h1 class="avatar-box">
                        <img src="./assets/images/my-avatar.png" alt="Srujan Tumma">
                    </h1>

                </div>
                <div class="col-8">
                    <h1 class="text-dark pb-2" title="Srujan Tumma">Srujan Tumma</h1>
                    <p>Software Engineering Associate at Hitachi Vantara</p>
                </div>
            </div>
            <div class="separator"></div>
            <div>
                <ul class="contacts-list">

                    <li class="contact-item" *ngFor="let social of profile?.socials">

                        <div class="icon-box">
                            <a>
                                <ion-icon [name]="social?.icon"></ion-icon>
                            </a>
                        </div>
                    </li>

                </ul>

                <!-- <div class="separator"></div>

                <ul class="social-list">

                    <li class="social-item">
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li class="social-item">
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li class="social-item">
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                </ul> -->

            </div>
            <div class="separator"></div>
            <div class="separator"></div>
            <!-- <div class="col">
                <iframe width="200%" height="200%" frameBorder="0"
                    src="https://github-readme-stats.vercel.app/api/top-langs/?username=bqwerr&layout=compact&langs_count=10"></iframe>
            </div> -->

        </div>

    </ion-card-content>
</ion-card>