<br />
<div class="container">
  <div class="row ">
    <div class="col-4">
      <app-about></app-about>
    </div>
    <div class="col-8">
      <div class="container">
        <div class="row mt-3">
          <div class="col-12 ">
            <div class="card">
              <div class="card-header h5">About Me</div>
              <div class="card-body">
                <p style="white-space: pre-wrap;" [innerHTML]="profile?.about" class="card-text"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <app-top-skills></app-top-skills>
        </div>
      </div>
    </div>
  </div>
</div>